body {
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 241, 236);
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-size: 16px;
    min-height: 100vh;
}

*:not(.social-list, .social-list li, img) {
    border: 1px solid;
    box-sizing: border-box;
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px; 
}   
