h1 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 48px;
    line-height: 130%;
}

.catalog {
    padding: 72px 0;
}

h3 {
    margin: 0;
}

.product-image {
    object-fit: cover;
    width: 270px;
    height: 350px;
    object-position: center;

}

.product .catalog .search .filter-list select {
    background: none;
    border: none;
    border-bottom: 1px solid rgba(33, 30, 29, 0.3);
    color: rgba(33, 30, 29, 0.5);
}

.product-list {
    display: flex;
    justify-content: space-between;
}

.product-list {
    margin-top: 50px;
}

.product-list:nth-child(3) {
    margin-top: 60px;
}

.product-list li {
    display: flex;
}

.product-title {
    font-weight: 400;
    line-height: 130%;
    line-height: 26px;
    font-size: 16px;
}

.product-price {
    font-size: 16;
    font-weight: 400;
    margin-top: 10px;

}

.product-list-item {
    display: flex;
    flex-direction: column;
}

.product-info {
    display: flex;
    margin-top: 22px;
    justify-content: space-between;
    font-size: 16px;

}

.btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.load-more-btn {
    display: flex;
    height: 76px;
    width: 324px;
    border: 1px solid;
    justify-content: center;
    align-items: center;
}
